# Python cache files
src/mmcontext/__pycache__/
*.pyc
tests/__pycache__/

#custom cache
cache/*
# Pre-commit cache
.cache/
.pre-commit/

# Log files
*.log
*.log.*
*.log.*
wandb
# anndata files
# only track data files in data/demo
data/*
!data/demo/
# Sphinx build files
docs/_build/
docs/_autosummary/
docs/generated/

#runs
/runs
#model weights
*.pth

# random notebooks
hm.ipynb

# output files
outputs/*
out/*
docs/notebooks/*zarr
*.zarr
*.h5ad
#venv
venv*/

docs/notebooks/*zarr*
exploratory/notebooks/figs

#env variables
.env

#egg-info
*.egg-info

#vs-code
.vscode/

#ds store
.DS_Store

#env keys
*.env

#vscode
.vscode/

#DS Store
*.DS_Store

#package info
*.egg-info/

#env variables
.env

#egg-info
*.egg-info

#vs-code
.vscode/

#ds store
.DS_Store

#local dirs
*checkpoints
*.sqlite*
old_stuff/

#build
build/

#slurm output
*.err
*.out

#trained models
models_trained/
exploratory/notebooks/models
exploratory/notebooks/eval
exploratory/notebooks/LabelSimilarity/
tutorials/LabelSimilarity/
tutorials/trainer_output/

poster_models/

# modules
modules/CellWhisperer/
modules/cellwhisperer_venv/
cache/
