# Python cache files
src/mmcontext/__pycache__/
*.pyc
tests/__pycache__/

# Pre-commit cache
.cache/
.pre-commit/

# Log files
*.log
*.log.*
*.log.*

# anndata files
# only track data files in data/demo
data/*
!data/demo/
# Sphinx build files
docs/_build/
docs/_autosummary/
docs/generated/

#images
*.png

#model weights
*.pth

# random notebooks
hm.ipynb

# output files
outputs/*
out/*
docs/notebooks/*zarr
#venv
venv*/

docs/notebooks/*zarr*
